{% extends 'inicio/base.html' %} {% block centro %}

<div class="container centro">
    <div class="fotos_carousel">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    {% load static %}
                    <img src={% static 'imagenes/EMI1.jpg' %} class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    {% load static %}
                    <img src={% static 'imagenes/EMI2.jpg' %} class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    {% load static %}
                    <img src={% static 'imagenes/EMI3.jpg' %} class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="descripcion">
        <h3>Gracias por visitar mi web...</h3>
        <p>Me llamo Emiliano, soy de CABA-ARG. </p>
        <p>Bienvenido a mi primera web, realizada con Python-Django con la ayuda de CoderHouse</p>
    </div>
</div>

{% endblock centro %}