    .caja_titulo_base {
        width: 95%;
        margin: 10px auto;
        border: 10px #333 solid;
    }
    
    .caja_titulo_base h1 {
        text-align: center;
        color: #04AA6D;
        margin: 5px 5px;
    }
    
    .nav {
        background-color: #333;
    }
    
    .nav nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    .nav nav li {
        float: left;
    }
    
    .nav nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .nav nav li a:hover:not(.active) {
        background-color: #111;
    }
    
    .active {
        background-color: #04AA6D;
    }
    /*--------------------------------INICIO.HTML----------------------------------- */
    
    .centro {
        margin: 20px auto;
    }
    
    .flex-container {
        display: flex;
    }
    
    .flex-container div {
        width: 50%;
        margin: 20px 20px;
    }
    
    .inicio_texto {
        padding: 10px;
    }
    
    .caja {
        padding: 10px;
        text-align: center;
    }
    
    .caja img {
        width: 50%;
        box-shadow: 0px 1px 15px #04AA6D;
    }
    /*------------------------------------------BLOG---------------------------------------*/
    
    .listado_titulo {
        background: linear-gradient(90deg, rgba(0, 212, 255, 0) 30%, rgba(4, 170, 109, 1) 100%);
        padding: 2px 10px;
        border-radius: 30px;
        margin-bottom: 30px;
    }
    
    .boton_nuevo_post {
        text-align: right;
        width: 90%;
        margin-bottom: 50px;
    }
    
    .mensaje_sin_entrada h3 {
        text-align: center;
        color: red;
    }
    
    .boton_editar_elimnar {
        text-align: right;
        margin: 20px 0px;
    }